//################################################################################################################
//
//   COMMON
//
//################################################################################################################

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans';
}
a {
    color: inherit;
}

//===============================================================================================================
// BUTTONS
//===============================================================================================================

//------------------------------------------------------------------------------------------
// Button types
//------------------------------------------------------------------------------------------

//===============================================================================================================
// FORMS
//===============================================================================================================

//------------------------------------------------------------------------------------------
// Form types
//------------------------------------------------------------------------------------------
